
<h1> Form expirements </h1>
<form action="/goodbye">
  <label for="username"> first name </label>
  <input id="username" type="text" name="zebra">

  <label for="lastname"> last name </label>
  <input id="lastname" type="text" name="giraffe">

<!--query strings start with ?, your keys are zebra and giraffe and values are whatever you type in text: 
  ex: https://en.wikipedia.org/wiki/Chicago?zebra=Alice&giraffe=mike
  key value pairs are made with = , different key value pairs are seperated by &
  
  each input must have a unique id and its label should have that id name as their for block
  -->

  <button>Go to /goodbye</button>
</form>
