<h1> Calculate monthly payment of loan </h1>

<form action="/payments/new/results">

  <label for="apr"> APR </label>

  <input id="apr" type="text" name="users_apr">


  <label for="num_years"> Number of years </label>

  <input id="num_years" type="text" name="users_num_years">


  <label for="principal"> Principal </label>

  <input id="principal" type="text" name="users_principal">

  <button> Calculate monthly payment </button>

</form>
